head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	link(rel="stylesheet" href="css/bootstrap.min.css")
	link(rel="stylesheet" href="css/material.min.css")
	link(rel="stylesheet" href="css/ripples.min.css")
	link(rel="stylesheet" href="css/roboto.min.css")
	<title>Bad News Delivery</title>

